img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/Assets/img/background7.jpeg"); 
  background-color: #add2ff; /* Warna fallback jika gambar tidak bisa dimuat */
  background-size: cover; /* Tutupi seluruh halaman */
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
}
/* .container {
  display: grid;
  grid-template-rows: 60px 60px auto 60px;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'sidebar' 'main' 'footer';
  height: 100vh;
}
@media (min-width: 480px) {
  .container {
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 160px auto;
    grid-template-areas: 
    'header header header' 
    'sidebar main main'  
    'footer footer footer';
    }
} */
.wrapper {
  display: flex;
  flex-direction: column;
}
#sidebar {
  width: 250px;

  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  background-color: rgba(71, 71, 71, 0.8); /* warna navbar bawah */
  transition: all 0.3s;
}
#sidebar.active {
  left: 0;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: rgba(60, 60, 60, 0.6); /* warna navbar atas */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px auto;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

#sidebar.closed div h3 {
  display: none;
}

#sidebar.closed .profile-image {
  width: 40px; 
  height: 40px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #818181;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}
#sidebar ul li a i {
  margin-right: 15px; 
}
#sidebar ul li a:hover {
  color: #fff;
  background: #9bc4e2; /* warna navbar pas mousenya diarahin */
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #160066; /* warna navbar pas dipencet mousenya */
}
#content {
  width: 100%;
  padding-left: 0;
  transition: all 0.3s;
}
#content h2 {
  margin-top: 20px;
}
#content.shift {
  padding-left: 250px;
}
#sidebarCollapse {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1050;
  margin-top: 0.5rem;
  margin-left: 1rem;
}
#sidebar.closed {
  width: 80px;
  left: 0;
}
#sidebar.closed ul li a span {
  display: none;
}
#sidebar.closed ul li a {
  justify-content: center; /*horizontal */
  align-items: center; /*vertikal */
  padding: 15px; 
}
#sidebar ul li a span {
  margin-left: 0; 
}
#sidebarCollapse {
  background: none; 
  border: none; 
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer; 
}
#sidebarCollapse:hover {
  color: #ddd; 
}
#sidebarCollapse.open {
  position: fixed;
  left: 190px; 
  top: 0;
  z-index: 1050;
  margin-top: 0.5rem;
}

/*logout */
.sidebar-logout {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
.logout-button {
  width: 100%;
  background-color: #7c0a02;
  color: white;
  text-align: center;
  border: none;
}
.logout-button:hover {
  background-color: pink;
}
#sidebar.closed .logout-button span {
  display: none;
}
#sidebar:not(.closed) .logout-button span {
  display: inline;
}
.btn.custom-btn-blue {
  background-color: #160066; 
  color: white;
  border-radius: 20px; 
  border: none;
  padding: 0.5em 11em; 
  font-size: 1rem; 
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.5); 
  transition: all 0.3s ease;
}
.btn.custom-btn-blue:hover,
.btn.custom-btn-blue:focus {
  background-color: #9bc4e2;
  box-shadow: 0 5px 9px rgba(0, 123, 255, 0.7); 
}
.larger-card {
  width: 30%; 
  margin-bottom: 30px;
  padding: 2%; 
  font-size: 1.2rem; 
}
.larger-card .card {
  transition: transform 0.8s ease-in-out; 
}

.larger-card:hover .card {
  transform: scale(1.1); 
  transition: transform 0.8s ease-in-out; 
}
.larger-card .fa {
  font-size: 5rem; 
}
.larger-card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.approved-icon {
  color: #006b3c;
}
.declined-icon {
  color: #7c0a02; 
}
.on-process-icon {
  color: #eead0e; 
}

/* Responsive buat 'PT. Daekyung Indah Heavy Industry' */
.navbar-brand {
  font-size: 1.5rem; 
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.2rem; 
  }

  #sidebar {
    width: 20%; 
    left: 0;
  }

  #content.shift {
    padding-left: 0; 
  }

  .larger-card,
  .sidebar-logout,
  .btn.custom-btn-blue {
    width: 100%; 
    padding: 15px; 
  }
}

@media (max-width: 100%) {
  .navbar-brand {
    font-size: 1rem;
  }

  #sidebar.closed {
    width: 100%;
  }
}
.rounded-card {
  border-radius: 20px;
  box-shadow: 0px 8px 12px rgba(34, 34, 34, 0.6);
}
.btn.custom-detail-btn-blue {
  background-color: #160066; 
  color: white;
  border-radius: 20px; 
  border: none;
  padding: 1px 65px;
  font-size: 0.7rem; 
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.5); 
  transition: all 0.3s ease; 
}
.btn.custom-detail-btn-blue:hover,
.btn.custom-detail-btn-blue:focus {
  background-color: #9bc4e2; 
  box-shadow: 0 5px 9px rgba(0, 123, 255, 0.7); 
}
.custom-larger-card {
  width: 100%; 
  padding: 30px; 
}
.col-md-6.mb-3 {
  width: 100%; 
  margin: auto; 
}
.text-center {
  text-align: center;
}
.detail-column {
  width: 130px; 
}
.table-column {
  width: 250px;
}
.custom-table-container {
  margin: auto; 
  width: 1150px; 
  padding: 20px;
}
#dataTable {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: rgb(0, 0, 0);
}

.container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.input {
  width: 470px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #000000;
  font-size: 15px;
  background-color: #d9d9d9;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
  border: 2px solid transparent;
  color: #000000;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1), inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1), inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* KOTAK DI FORM PENGAJUAN ABSENSI */
/* -------------------------------------------------------------------------------------------------------------------------- */
.input-container {
  width: 100%; 
  padding: 0 15px; 
  margin-bottom: 40px; 
  transition: margin-top 0.7s;
}

.input-container .input {
  width: 100%; 
  box-sizing: border-box; 
}
.input-container.focused {
  margin: 60px 0;
}
.active-label {
  transition: 0.3s;
  padding-left: 0px;
  transform: translateY(-35px);
}
.static-label {
  transform: translateY(-35px);
  font-size: 12px; 
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* DATETIME PADA FORM PENGAJUAN */
/* -------------------------------------------------------------------------------------------------------------------------- */
/* input date ketika placeholder ditampilkan */
.input.placeholder-shown::-webkit-datetime-edit,
.input.placeholder-shown::-webkit-inner-spin-button,
.input.placeholder-shown::-webkit-clear-button {
  color: transparent;
}

/* input date ketika placeholder tidak ditampilkan */
.input::-webkit-datetime-edit,
.input::-webkit-inner-spin-button,
.input::-webkit-clear-button {
  color: #000000; 
}

/* -------------------------------------------------------------------------------------------------------------------------- */
/* CSS UNTUK BUTTON SUBMIT FORM PENGAJUAN */
/* -------------------------------------------------------------------------------------------------------------------------- */
.button-submit {
  color: #ffffff;
  padding: 0.3em 1.5em;
  font-size: 15px;
  border-radius: 0.5em;
  background: #160066;
  cursor: pointer;
  border: 1px solid #160066;
  transition: all 0.3s;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1), -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.button-submit:active {
  color: #b0b0b0;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn.custom-approval-btn-green {
  background-color: #006b3c; 
  color: white;
  border-radius: 20px; 
  border: none;
  padding: 7px 20px; 
  font-size: 0.7rem; 
  box-shadow: 0 4px 6px #62c29e; 
  transition: all 0.3s ease; 
}
.btn.custom-approval-btn-green:hover,
.btn.custom-approval-btn-green:focus {
  background-color: #87c495; 
  box-shadow: 0 5px 9px #62c29e; 
}

.btn.custom-decline-btn-red {
  background-color: #7c0a02; 
  color: white;
  border-radius: 20px; 
  border: none;
  padding: 7px 20px;
  font-size: 0.7rem; 
  box-shadow: 0 4px 6px #dd4e4e; 
  transition: all 0.3s ease; 
}
.btn.custom-decline-btn-red:hover,
.btn.custom-decline-btn-red:focus {
  background-color: #ff6161;
  box-shadow: 0 5px 9px #dd4e4e; 
}

.button-row {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 10px; 
}

.btn.custom-detail-btn-blue {
  margin-left: 0; 
}

/* --------------------------------------- */
.button {
  position: relative;
  width: 500px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #9bc4e2;
  background-color: #160066;
}

.button, .button__icon, .button__text {
  transition: all 0.5s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
  
}

.button .button__icon {
  position: absolute;
  transform: translateX(335px);
  height: 100%;
  width: 150px;
  background-color: #9bc4e2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #9bc4e2;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #9bc4e2;
}

.button:active {
  border: 1px solid #9bc4e2;
}
/* --------------------------------------- */